:root{
    --cor-fundo: #1A2B3C; /* Cor escura para criar um ambiente introspectivo */
    --cor-principal: #283D49 ;/* Azul profundo para representar reflexão */
    --cor-secundaria: #A4B8C4; /* Cor suave e calmante */
    --cor-destaque: #FF8C42;/* Laranja vibrante para trazer atenção */
    --cor-texto: #E6F0F5;/* Tom claro para facilitar a leitura */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1{
    color: var(--cor-destaque);
    font-size: 2em;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

.caixa-resultado {
    margin-top: 20px;
}

.texto-resultado {
    font-size: 1.2em;
    color: var(--cor-texto);
}








